.form{
    /* background-color: aqua; */
    /* border: 2px solid blue; */
    
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */
    gap: 20px;
    padding: 40px 30px;
   
}

.formdata{
    height: 300px;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input{
    width: 90%;
    height: 30px;
    padding: 5px;
}

.btn{
    background-color: rgb(110, 202, 85);
    width: 90%;
    padding: 10px 5px;
}
@media(width<=768px){
    .form{
      width: 100vw;
      
    }
  }